* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fjalla One', sans-serif;
  width: 100%;
  background-image: url('/RaiderTrade/src/main/webapp/img/bg-campus.jpg');
  background-position: center;
  background-size: cover;
}

nav .navbar-brand {
  margin: 0;
  padding: 0;
  width: 200px !important;
}

nav .nav-link {
  color: #0066cc !important;
}

nav .logo {
  width: 80%;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.container {
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.btn-link {
  text-decoration: none !important;
}

.bg-custom {
  background: rgba(255, 255, 255, 0.9);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(0, 102, 204);
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,102,204, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
